// Fonts
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Rubik:wght@300;400;600&display=swap");
@mixin form-label {
  font-family: "Rubik";
  color: $label-color;
}
// Colors
$primary-color1: #ff7757;
$primary-color2: #ffd2c7;
$secondary-color1: #331811;
$secondary-color2: #61291c;
$label-color: #767e86;

* {
  box-sizing: border-box;
}
.landing-page__img {
  background-image: url("../assets/landing-page.avif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

@media (max-width: 400px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__title {
      height: 80px;
      width: 200px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .header__nav {
      display: none;
    }
    .header__list {
    }
    .header__list-item {
    }
    .header__img-container {
    }
  }
  .landing-page {
  }
  .landing-page__info {
    font-family: Playfair Display;
    color: #ffffff;
  }
  .landing-page__info__title {
  }
  .landing-page__info__subtitle {
  }
  .landing-page__form {
    label {
      display: block;
      input {
        display: block;
      }
    }
    .landing-page__form-submit {
      background: #ff7757;
      border-radius: 0px 0px 16px 16px;

      color: #ffffff;
    }
  }

  .landing-page__form-destination {
    @include form-label;
  }
  .landing-page__form-person {
    @include form-label;
  }
  .landing-page__form-check-in {
    @include form-label;
  }
  .landing-page__form-checkout {
    @include form-label;
  }

  .popular-destinations {
  }
  .popular-destinations___info {
  }
  .popular-destinations__title {
  }
  .popular-destinations__subtitle {
  }
  .popular-destinations__destinations {
  }
  .popular-destinations__img-container {
  }
  .popuplar-destinations__img-info {
  }
  .popuplar-destinations__img-title {
  }
  .popular-destinations__img-location {
  }
  .popular-destinations__arrows {
  }
  .popular-destinations__btns {
  }
}
